.dimmed {
    opacity: .25;
}

.hidden {
    display: none;
}

#to-do-ul li {
    background-color: orange;
    border: 1px solid black;
    font-size: 1.3em;
    list-style: none;
    margin-bottom: 3px;
}

#to-do-ul li.done {
    background-color: green;
    text-decoration: line-through;
}

#trip-saved {
    animation-name: fadeout;
    animation-duration: 5s;
    display: inline-block;
    font-weight: bold;
    opacity: 0;
    margin: .5em;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }    
    100% {
        opacity: 0;
    }
}